{% if user %}
  {% set navigation_bar = [
    ('stream', 'Streaming'),
    ('auth.signout', 'Salir')
  ] %}
{% else %}
  {% set navigation_bar = [
    ('auth.signin', 'Iniciar sesión')
  ] %}
{% endif %}

{% set active_page = active_page|default('index') %}

{% block body %}
  <!-- Navbar -->
  <nav class="bg-pink-500 p-4 text-gray-300 flex justify-between items-center">
    {% for id, caption in navigation_bar %}
      {% if id == 'auth.signout' %}
        <form action="{{ url_for(id) }}" method="post">
          <button class="text-white text-lg font-bold bg-red-600 hover:bg-red-700 py-2 px-4 rounded focus:outline-none focus:shadow-outline">{{ caption }}</button>
        </form>
      {% else %}
        <a class="text-gray-300 text-lg font-bold hover:bg-pink-700 py-2 px-4 rounded focus:outline-none focus:shadow-outline {{ 'bg-pink-700' if active_page == id else '' }}" href="{{ url_for(id) }}">{{ caption }}</a>
      {% endif %}
    {% endfor %}
  </nav>
{% endblock %}
