{% extends 'index.html' %}

{% block title %}Video Streaming Live{% endblock %}

{% block content %}
<div class="w-full max-w-xlg bg-gray-200 p-4 rounded-lg shadow-lg justify-center items-center">
  <div class="container mx-auto flex flex-col justify-center items-center">
      <div class="videos relative justify-center items-center">
          <video id="localVideo" autoplay muted></video>
        </div>
      <div id="chat" class="mt-4">
          <input type="file" id="image" placeholder="Add an image..." accept="image/*" class="w-full px-3 py-2 border rounded-lg focus:outline-none focus:border-blue-500">
          <input id="announcement" type="text" placeholder="Make an announcement..." class="w-full mt-2 px-3 py-2 border rounded-lg focus:outline-none focus:border-blue-500">
          <button id="announcementBtn" class="mt-2 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-lg">Announce</button>
          <button id="qrBtn" class="mt-2 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-lg">Make QR</button>
          <button id="clsAnnouncementBtn" class="mt-2 bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded-lg">Clear</button>
          <input id="chatText" type="text" placeholder="Write a message..." class="w-full mt-2 px-3 py-2 border rounded-lg focus:outline-none focus:border-blue-500">
          <button id="chatBtn" class="mt-2 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-lg">Send</button>
      </div>
      <div class="mt-4 flex justify-center">
          <button id="startButton" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-lg mr-4">Start Streaming</button>
          <button id="stopButton" class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded-lg">Stop Streaming</button>
      </div>
  </div>
</div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/qrcodejs/1.0.0/qrcode.min.js"></script>
    <script src="{{ url_for('static', filename='main.js') }}"></script>
    <script src="{{ url_for('static', filename='track-utils.js') }}"></script>
    <script defer src="{{ url_for('static', filename='face-api.min.js') }}"></script>
<script>
    const socket = io();
    const localVideo  = document.getElementById('localVideo');
    const announcement = document.getElementById('announcement');
    const announcementBtn = document.getElementById('announcementBtn');
    const startButton = document.getElementById('startButton');
    const stopButton = document.getElementById('stopButton');
    let transformFn;
    let showMessage = false;

    // Función para capturar el video del cliente
    async function captureVideo() {
        await Promise.all([
          faceapi.nets.tinyFaceDetector.loadFromUri("../static/models/"),
          faceapi.nets.faceLandmark68Net.loadFromUri("../static/models/"),
          faceapi.nets.faceRecognitionNet.loadFromUri("../static/models/"),
          faceapi.nets.faceExpressionNet.loadFromUri("../static/models/")
        ]).then(() => {
          // El resto del código que depende de los módulos cargados
          const stream = navigator.mediaDevices.getUserMedia({ audio: false, video: true })
            .then((stream) => {
              // use the stream
              transformFn = cleanStream();

              const pTrack = createProcessedTrack({
                track: stream.getVideoTracks()[0],
                transform: (frame, controller) => transformFn(frame, controller)
              });

              localVideo.srcObject = new MediaStream([pTrack]);
              //styleVideos();
              startSignaling('p');
            })
            .catch((err) => {
              // handle the error
              console.error("An error occurred:", err)
            });
        });
      }

  localVideo.addEventListener('play', () => {
      const videoContainer = document.querySelector('.videos');
      const canvas = faceapi.createCanvasFromMedia(localVideo);
      canvas.classList.add('absolute', 'top-0', 'left-0'); 
      videoContainer.appendChild(canvas);
      const displaySize = { width: localVideo.videoWidth, height: localVideo.videoHeight }
      faceapi.matchDimensions(canvas, displaySize)
      setInterval(async () => {
        const detections = await faceapi.detectAllFaces(localVideo, new faceapi.TinyFaceDetectorOptions()).withFaceLandmarks().withFaceExpressions()
        const resizedDetections = faceapi.resizeResults(detections, displaySize)
        canvas.getContext('2d').clearRect(0, 0, canvas.width, canvas.height)
        faceapi.draw.drawDetections(canvas, resizedDetections)
        faceapi.draw.drawFaceLandmarks(canvas, resizedDetections)
        faceapi.draw.drawFaceExpressions(canvas, resizedDetections)
        detections.forEach(result => {
            const expressions = result.expressions;
            if (expressions && expressions.angry > 0.7 ||  expressions.sad > 0.7 ||  expressions.disgusted > 0.7) { 
              announcementEmotion(`URGENTE: Revisar el bebe`);
            }
            // if(expressions && expressions.happy > 0.7){
            //   announcementClear();
            // }
        });
      }, 200)
    });

    // Función para detener la captura de video
    function stopCapture() {
        const stream = localVideo.srcObject;
        if (stream) {
          const tracks = stream.getTracks();
          tracks.forEach(track => track.stop());
          localVideo.srcObject = null;
        }
        else 
        {
        console.warn('No hay flujo de video para detener.');
    }

    }

    startButton.addEventListener('click', () => {
        captureVideo();
        startButton.style.display = 'none';
    });

    stopButton.addEventListener('click', () => {
      socket.disconnect();
        //stopCapture();
        location.reload();
    });

    function announcementEmotion(textVal){
      if(!showMessage){
        transformFn = showText({
        text: textVal,
        txtInitialX: localVideo.
          srcObject.
          getVideoTracks()[0].
          getSettings()['width']
      });
      image.value = '';
    }
    };


    function announcementClear(){
      transformFn = cleanStream();
      announcement.value = '';
      image.value = '';
      showMessage=false;
    };


    announcementBtn.addEventListener('click', () => {
      transformFn = showText({
        text: announcement.value,
        txtInitialX: localVideo.
          srcObject.
          getVideoTracks()[0].
          getSettings()['width']
      });
      image.value = '';
    });

    clsAnnouncementBtn.addEventListener('click', () => {
      transformFn = cleanStream();
      announcement.value = '';
      image.value = '';
    });

    image.addEventListener('change', () => {
      transformFn = showImage({image: image.files[0]});
      announcement.value = '';
    });

    qrBtn.addEventListener('click', () => {
      transformFn = showQr({ text: announcement.value });
      image.value = '';
    });


 
</script>
{% endblock %}
