{% extends "auth/layout.html" %}
{% import "_helpers.html" as h %}

{% block title %}Forgot password{% endblock %}

{% block content %}
<div class="w-full max-w-md mx-auto">
    {{ h.alert('mb-10') }}
    <h2 class="font-semibold text-4xl mb-4 text-blue-400">Recuperar Contraseña</h2>
    <div class="border-t border-gray-300 my-4"></div>
	 
    <form class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4" action="{{ url_for('auth.forgot_password') }}" method="post">
      {{ form.csrf_token }}
      <div class="form-control">
        <label for="email" class="block text-gray-700 font-bold mb-2">{{ form.email.label }}</label>
        {{ form.email(class="input shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight bg-gray-200 focus:shadow-outline") }}
        {{ h.form_error(form.email) }}
    </div>
    <p class="mb-4 text-pink-500 py-3 text-sm" >Se le enviará  instrucciones al correo electrónico registrado</p>
      <div class="flex items-center justify-between py-8">
        <button type="submit"  class="bg-pink-500 hover:bg-pink-700 text-white font-bold py-3 px-4 rounded-full focus:outline-none focus:shadow-outline w-full">Enviar</button>
      </div>
    </form>

    <div class="pt-4 text-center">
      ¿No tienes una cuenta? <a href="{{ url_for('auth.signup') }}" class="text-pink-500 hover:underline">Registrarte</a>
    </div>
  </div>
{% endblock %}
