{% extends "auth/layout.html" %}
{% import "_helpers.html" as h %}

{% block title %}Sign in{% endblock %}

{% block content %}
<div class="w-full max-w-md mx-auto">
  {{ h.alert('mb-8') }}
  <div class="w-full max-w-xs mx-auto mt-20">

    <div class="border-t border-gray-300 my-4"></div>

    <form class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4" method="post" action="{{ url_for('auth.signin') }}">
      <div class="mb-6 py-3 px-3 pb-8">
        <img class="mx-auto h-auto w-auto" src="/static/imgs/babyLogo.png" alt="Logo">
      </div>
      {% include 'auth/_form_partial.html' %}
      <a href="{{ url_for('auth.forgot_password') }}" class="text-pink-500 hover:underline">¿Olvidaste la Contraseña?</a>
      <div class="flex items-center py-8" >
        <button type="submit"  class="bg-pink-500 hover:bg-pink-700 text-white font-bold py-3 px-4 rounded-full focus:outline-none focus:shadow-outline w-full" >
          Ingresar
        </button>
       
      </div>
      <div class="mt-4 text-center">
        ¿No tienes una cuenta? <a href="{{ url_for('auth.signup') }}" class="text-pink-500 hover:underline">Registrarte</a>
      </div>
    </form>
    
  </div>
</div>

{% endblock %}



